* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-color-light: #60A5FA;
  --brand-color-dark: #1D4ED8;
  --bg-primary: #0F172A;
  --stroke-color: #1E293B;
  --text-color-primary: #F1F5F9;
  --text-color-secondary: #CBD5E1;

  --font-family: 'Archivo', sans-serif;
  --text-lg: extra-bold 24px/1.35 var(--font-family);
  --text-md: semi-bold 18px/1.35 var(--font-family);
}

body {
  color: var(--text-color-primary);
  background-color: var(--bg-primary);
}

